---
import SuperiorNav from '@/components/SuperiorNav.astro';
import '../estail/estilos.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <main>
<SuperiorNav />
      <slot  />
    </main>
		
		
	</body>
</html>
